@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Lato:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-slate-200 bg-slate-950;
  }
}

@layer utilities {
  .text-gold-gradient {
    @apply bg-gradient-to-b from-gold-300 via-gold-500 to-gold-700 bg-clip-text text-transparent;
  }
}

@layer utilities {
  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-bounce-slow {
    animation: bounce-slow 2s ease-in-out infinite;
  }
}
